body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#welcome-title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

#form-container {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#register-form {
    /*transform: translateX(100%);

     */
    transition-duration: 0.5s;
}
#login-form {
    /*transform: translateX(0%);

     */
    transition-duration: 0.5s;
}

label {
    display: block;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    outline: 2px solid lightgray;
    transition-duration: 0.4s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: .3s;
    position: absolute;
}

#error-message {
    color: red;
    font-weight: 600;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
    background-color: #7F7F7F;
    outline-color: #634C5B;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    background-color: black;
    outline-color: white;
    color: white;
}

input[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: #0062cc;
}

.incorrect {
    outline: 2px solid #A0000D;
    background-color: #FF0015;
    color: #8E45A0;
}
.correct {
    outline: 2px solid #00A005;
    background-color: #00EA07;
    color: #2546EA;
}

#register-here-btn,
#login-instead-btn {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 1rem;
    cursor: pointer;
}

#register-here-btn:hover,
#login-instead-btn:hover {
    text-decoration: underline;
}

.slide-in-left {
    animation-name: slideInFromLeft;
    animation-fill-mode: forwards;
}

.slide-out-left {
    animation-name: slideInFromLeft;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.slide-in-right {
    animation-name: slideInFromRight;
    animation-fill-mode: forwards;
}

.slide-out-right {
    animation-name: slideInFromRight;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}


@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*
.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.slide-out {
    transform: translateX(-100%);
}

.slide-in {
    transform: translateX(0%);
}*/